.container {
    display: flex;
    height: 100%;
}

.split {
    flex: 1;
    padding: 40px;
}

.split img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.button {
    width: 580px;
    text-align: center;
    display: inline-block;
    background: #006400;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .split {
        padding: 20px;
    }

    .split img {
        height: 300px;
    }

    .button {
        width: 440px;
    }
}